<strong><h1 style="font-size: 14pt">Ventilador de Parede Falcon 60cm Preto 127/220V Hélices 6 pás Aerodinâmica Grade de aço Motor 230W Oscilação horizontal</h1></strong>
<p style="font-size: 12pt">- Hélices 6 pás</p>
<p style="font-size: 12pt">- Aerodinâmica que gera mais ventilação</p>
<p style="font-size: 12pt">- Grade de aço</p>
<p style="font-size: 12pt">- Motor 230W</p>
<p style="font-size: 12pt">- Oscilação horizontal automática</p>
<br> 
<strong><h2 style="font-size: 14pt">O que acompanha na embalagem do Ventilador de Parede Falcon 60cm Preto?</h2></strong>
<p style="font-size: 12pt">O Ventilador de Parede Falcon 60cm Preto acompanha:</p>
<p style="font-size: 12pt">- 01 Ventilador</p>
<br> 
<strong><h2 style="font-size: 14pt">Especificações Técnicas Ventilador de Parede Falcon 60cm Preto:</h2></strong>
<p style="font-size: 12pt">- Motor potente de alta velocidade</p>
<p style="font-size: 12pt">- Hélices em plástico de engenharia</p>
<p style="font-size: 12pt">- Proporciona um fluxo de ar melhor distribuído por todo o ambiente</p>
<p style="font-size: 12pt">- Regulagem de inclinação manual podendo ser ajustada</p>
<p style="font-size: 12pt">- Selecionar na chave seletora a tensão, 127V ou 220V</p>
<p style="font-size: 12pt">- Pintura Eletrostática</p>
<p style="font-size: 12pt">- Grade com pintura de alta resistência</p>
<p style="font-size: 12pt">- Controle de velocidade em chave para fixação na parede</p>
<br>
<p style="font-weight: bold">Importante:</p>
<p>A instalação deve ser feita por um profissional especializado.</p>
<p>Nós não nos responsabilizamos por instalações mal realizadas.</p>
<p>As imagens são meramente ilustrativas, podem ocorrer mudanças sem prévio aviso, porém, as características técnicas são sempre preservadas.</p> 